.about-container {
    padding: 2rem 4rem;
    max-width: 1200px;
    margin: 0 auto;
}

.section {
    margin-bottom: 2rem;
}

.section-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
}

.section-description {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
}

.text-image-container {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.column-align {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.text-content {
    flex: 1;
}

.section-image {
    width: 500px;
    height: auto;
    border-radius: 8px;
}

.section-image.large-image {
    width: 100%;
    max-width: 600px;
    /* ניתן לשנות את הערך לפי הצורך */
    margin-top: 20px;
}

.left-align .section-image {
    order: -1;
    margin-right: 20px;
    margin-left: 0;
}

.right-align .section-image {
    margin-left: 20px;
}

.dashboard-tabs {
    list-style: none;
    padding-left: 0;
}

.dashboard-tabs li {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #666;
}

.dashboard-tabs li strong {
    color: #333;
}



@media (max-width: 768px) {
    .about-container {
        padding: 1rem 2rem;
    }

    .section-title {
        font-size: 1.5rem;
    }

    .section-description {
        font-size: 0.9rem;
    }

    .text-image-container {
        flex-direction: column;
        text-align: center;
    }

    .welcome .text-image-container {
        flex-direction: column-reverse;
    }

    .admin-dashboard .right-align {
        flex-direction: column-reverse;
    }

    .section-image {
        width: 100%;
        max-width: 300px;
        margin-bottom: 1rem;
    }

    .left-align .section-image, .right-align .section-image {
        order: 0;
        margin: 0 auto;
    }

    .dashboard-tabs li {
        font-size: 0.9rem;
    }
}
