
.flowbite-tabs .flowbite-tabs-item[aria-selected="true"] {
    border-bottom: none;
    /* ביטול ה-Border התחתון */
    background-color: #f0f0f0;
    /* צבע רקע חדש לטאב שנבחר */
    border: none;
}

.flowbite-tabs .flowbite-tabs-item:hover {
    background-color: #e0e0e0;
    border: none;
    /* צבע רקע כשמעבירים עכבר על הטאב */
}