/* 
.cart-page {
    @apply flex flex-col md:flex-row gap-4 p-4;
}

.cart-items-container {
    @apply w-full md:w-3/4 p-4;
}

.cart-title {
    @apply text-2xl font-semibold mb-4;
}

.cart-items {
    @apply space-y-4;
}

.cart-item {
    @apply flex justify-between items-center p-4 border rounded-lg shadow-sm;
}

.cart-summary {
    @apply w-full md:w-1/4 p-4 bg-gray-100 rounded-lg shadow-lg;
}

.cart-summary h2 {
    @apply text-xl font-semibold mb-4;
}

.cart-summary div {
    @apply flex justify-between;
}

.clear-cart-button {
    @apply mt-4 w-full py-2 px-4 bg-red-500 text-white rounded-lg hover:bg-red-700;
} */

.cart-page {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;

    @media (min-width: 768px) {
        flex-direction: row;
    }
}

.cart-items-container {
    width: 100%;
    padding: 16px;

    @media (min-width: 768px) {
        width: 75%;
    }
}

.cart-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
}

.dark .cart-item {
    border-color: #4b5563;
    background-color: #1f2937;
    color: #f9fafb;
}

.cart-summary {
    width: 100%;
    padding: 16px;
    background-color: #f3f4f6;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
   

    @media (min-width: 768px) {
        width: 25%;
    }
}

.dark .cart-summary {
    background-color: #111827;
    color: #f9fafb;
}

.cart-summary h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
}

.cart-summary div {
    display: flex;
    justify-content: space-between;
}

.clear-cart-button {
    margin-top: 16px;
    width: 100%;
    padding: 8px 16px;
    background-color: #670359;
    color: #ffffff;
    border-radius: 0.5rem;
    cursor: pointer;

    &:hover {
        background-color: #770368;
    }
}

.dark .clear-cart-button {
    background-color: #670359;

    &:hover {
        background-color: #850474;
    }
}