.cart-page {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    color: #4b5563;

    @media (min-width: 768px) {
        flex-direction: row;
    }
}

.cart-items-container {
    width: 100%;
    padding: 16px;

    @media (min-width: 768px) {
        width: 75%;
    }
}

.back-to-shopping {
    color: #1b1b1b;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }

    svg {
        margin-right: 8px;
    }
}

.cart-title {
    font-size: 24px;
    font-weight: 600;
}

.clear-cart-link {
    font-size: 16px;
    color: #ef4444;
    cursor: pointer;

    &:hover {
        color: #dc2626;
    }
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
    /* Adjusted margin-top */
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
}

.dark .cart-item {
    border-color: #4b5563;
    background-color: #1f2937;
    color: #f9fafb;
}

.cart-summary {
    width: 100%;
    padding: 16px;
    background-color: #f9f9fd;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    max-height: 230px;
    margin-top: 60px;
    flex-direction: column;
    /* קביעת גובה מקסימלי */

    @media (min-width: 768px) {
        width: 25%;
    }
}

.dark .cart-summary {
    background-color: #111827;
    color: #f9fafb;
}

.cart-summary h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
    color: #32353a;
}

.cart-summary div {
    display: flex;
    justify-content: space-between;
}

.clear-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    width: 150px;
    font-size: 16px;
    padding: 8px 16px;
    background-color: #4b484ac9;
    color: #ffffff;
    border-radius: 0.5rem;
    cursor: pointer;

    &:hover {
        background-color: #666465c9;
    }

    svg {
        margin-left: 8px;
        /* רווח בין האייקון לטקסט */
    }
}

.dark .clear-cart-button {
    background-color: #670359;

    &:hover {
        background-color: #850474;
    }
}

/* סגנונות נוספים לכפתור ה-Checkout */
.checkout-button {
    margin-top: 28px;
    width: 100%;
    padding: 8px 16px;
    background-color: #190a63;
    color: #ffffff;
    border-radius: 0.5rem;
    cursor: pointer;

    &:hover {
        background-color: #093188;
    }
}

.dark .checkout-button {
    background-color: #1d4ed8;

    &:hover {
        background-color: #2563eb;
    }
}

/* סגנונות נוספים לכפתור ה-Remove */
.remove-button {
    color: #ef4444;
    cursor: pointer;

    &:hover {
        color: #dc2626;
    }
}

.dark .remove-button {
    color: #ef4444;

    &:hover {
        color: #dc2626;
    }
}