.product-page {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    color: #1b1b1b;
    flex-direction: column;
}

.product-image-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eff1f5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-image {
    width: 100%;
    height: auto;
    max-width: 400px;
    border-radius: 8px;
}

.additional-images {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.additional-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

.product-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-title {
    font-size: 1.75rem;
    color: #1b1b1b;
    margin-bottom: -10px;
}

.product-subtitle {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}

.product-description {
    font-size: 1rem;
    color: #1b1b1b;
    line-height: 1.6;
    margin-bottom: 20px;
}

.product-price-container {
    display: flex;
    align-items: baseline;
    gap: 10px;
    margin-bottom: 10px;
    margin-top: 200px;
}

.price-label {
    font-size: 1rem;
    font-weight: bold;
    color: #1b1b1b;
}

.original-price {
    font-size: 1rem;
    color: #999;
    text-decoration: line-through;
    margin-top: 20px;
}

.discounted-price {
    font-size: 1rem;
    color: #5a0310;
    margin-top: 20px;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
}

.consult-expert-button,
.add-to-cart-button {
    padding: 10px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 50px;
    margin-top: 40px;
}

.consult-expert-button {
    background-color: #0a0b0d;
    color: white;
    margin-top: 168px;
    width: 60%;
}

.consult-expert-button:hover {
    background-color: #0b0c0d;
}

.add-to-cart-button {
    border: 2px solid #1b1b1b;
    background-color: transparent;
    color: #1b1b1b;
    width: 100%;
}

.add-to-cart-button:hover {
    background-color: #1b1b1b;
    color: white;
}

.size-buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

.size-button {
    padding: 10px 20px;
    border: 1px solid #c37d69;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
    display: flex;
    /* הוספת תכונה זו */
    justify-content: center;
    /* מרכז את התוכן אופקית */
    align-items: center;
    /* מרכז את התוכן אנכית */
}

.size-button.selected {
    background-color: #c37d69;
    color: #fff;
}

.size-button:hover {
    background-color: #cd9f93;
}

@media (min-width: 768px) {
    .product-page {
        flex-direction: row;
    }

    .buttons-container {
        flex-direction: row;
    }

    .size-buttons-container {
        flex-direction: row;
    }

    .size-button {
        flex: initial;
    }
}

@media (max-width: 767px) {
    .buttons-container {
        width: 100%;
        flex-direction: column;
        
    }

    .consult-expert-button,
    .add-to-cart-button {
        width: 100%;
        margin-top: 10px;
    }

    .size-buttons-container {
        flex-direction: row;

    }

    .size-button {
        flex: initial;
        width: 25%;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 30px;
    }
}

.dark body {
    background-color: #1f2937;
    color: #f6f7f8;
}

.dark .add-to-cart-container p {
    color: #f9fafb;
}

.dark .product-image-container {
    background-color: #1f2937;
}

.dark .product-details {
    background-color: #111827;
}

.dark .product-title {
    color: #f9fafb;
}

.dark .product-subtitle {
    color: #d1d5db;
}

.dark .product-description {
    color: #ffffff;
}

.dark .original-price {
    color: #6b7280;
}

.dark .discounted-price {
    color: #f87171;
}

.dark .stock {
    color: #f9fafb;
}

.dark .consult-expert-button {
    background-color: #09286c;
    color: white;
}

.dark .consult-expert-button:hover {
    background-color: #1d4ed8;
}

.dark .add-to-cart-button {
    border: 2px solid #bbb;
    background-color: transparent;
    color: #f9fafb;
}

.dark .add-to-cart-button {
    border: 2px solid #e5e7eb;
    color: #f9fafb;
}

.dark .add-to-cart-button:hover {
    background-color: #374151;
    color: #f9fafb;
}

.dark .size-button {
    border: 1px solid #4b5563;
    background-color: #1f2937;
    color: #f9fafb;
}

.dark .size-button:hover {
    background-color: #374151;
}

.dark .size-button.selected {
    background-color: #4b5563;
    color: #f9fafb;
}