.product-page {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    font-family: Arial, sans-serif;
    color: #555;
}

.product-image-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 32px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-image {
    width: 100%;
    height: auto;
    max-width: 400px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.additional-images {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.additional-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

.product-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    background-color: #fff;
    margin-left: 10px;
}

.product-title {
    font-size: 1.75rem;
    color: #333;
    margin-bottom: -10px;
}

.product-subtitle {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}

.product-description {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

.product-price-container {
    display: flex;
    align-items: baseline;
    gap: 10px;
    margin-bottom: 10px;
}

.price-label {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}

.original-price {
    font-size: 1rem;
    color: #999;
    text-decoration: line-through;
}

.discounted-price {
    font-size: 1rem;
    color: #5a0310;
}

.buttons-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.consult-expert-button,
.add-to-cart-button {
    flex: 1;
    padding: 10px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 50px;
}

.consult-expert-button {
    background-color: #1b1b1b;
    color: white;
}

.consult-expert-button:hover {
    background-color: #333;
}

.add-to-cart-button {
    border: 2px solid #1b1b1b;
    background-color: transparent;
    color: #1b1b1b;
}

.add-to-cart-button:hover {
    background-color: #1b1b1b;
    color: white;
}

.shipping-info {
    margin-bottom: 20px;
}

.shipping-info span {
    display: block;
    margin-bottom: 5px;
}

.shipping-options {
    color: #28a745;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.size-buttons-container {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.size-button {
    padding: 10px 20px;
    border: 1px solid hsl(0, 4%, 73%);
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.size-button.selected {
    background-color: #9f9b9b;
    color: #fff;
}

.size-button:hover {
    background-color: #ddd;
}