.sales-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #333;
    margin: 0 auto;
    max-width: 1000px;
}

.sales-chart-container {
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chart-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.date-picker-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.date-picker {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 1rem;
    color: #333;
}

.chart-wrapper {
    width: 100%;
    max-width: 1000px;
    height: 500px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .chart-wrapper {
        height: 600px;
    }
}

@media only screen and (max-width: 768px) {
    .chart-wrapper {
        width: 100%;
        height: 300px;
        /* גובה מופחת לגרף במובייל */
        overflow-x: auto;
        /* מאפשר גלילה אופקית */
    }

    .date-picker-container {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .chart-title {
        font-size: 1.5rem;
    }
}