.custom-font-size {
    font-size: 16px;
}

.swal2-popup {
    width: 100%;
    max-width: 400px;
    top: 0;
    right: 0;
    height: 100%;
    border-radius: 0;
    animation: slide-in 0.3s ease-out;
    position: relative;
    /* Ensure positioning for close button */
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.go-to-cart-button {
    display: block;
    margin-top: 20px;
    width: 100%;
    padding: 10px 0;
    background-color: #3085d6;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.go-to-cart-button:hover {
    background-color: #2874bd;
}