.landing-page{
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
    overflow-x: hidden;
}

.banner-container {
display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 567px;
    position: relative;
    font-family: 'montserrat';
    background-image: url('/img/New Hero Banner.jpg');
   background-size: cover;
    background-position: center;
    border-radius: 40px;
    padding: 16px;
    
}

.banner {
    width: 70%;
    height: 100%;
    border-radius: 40px;
    position: relative;
    padding: 16px;
    margin-bottom: 16px;
    position: relative;
        z-index: 2;
 
}

.top-left-text {
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: 1.5rem;
    font-weight: 400;
    color: #2B2E37;
    z-index: 2;
}

.top-left-text img {
    width: 80px;
    margin-right: 10px;
}

.center-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    /* שומר על ערימה אנכית של הכותרת והתיאור */
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
 
/*     text-align: center;
 */   
}

.center-text h2 {
    font-size: 2.5rem;
    /* גודל גדול יותר לכותרת */
    font-weight: 600;
    color: #2B2E37;
    margin: 0 0 16px 0;
    /* ריווח מתחת לכותרת */
}

.center-text p {
    font-size: 1.2rem;
    /* גודל תיאור קצת גדול יותר */
    color: #2B2E37;
    margin: 0;
    /* ריווח מתחת לתיאור */
}

.bottom-left-content {
    font-size: 1.2rem;
        /* Adjusted size for better readability */
        color: #2B2E37;
        line-height: 1.5;
        margin-top: 16px;
        /* Added space below title */
        max-width: 500px;
}


.bottom-left-content p {
    margin: 0;
        color: #2B2E37;
        font-size: 1rem;
        line-height: 1.5;

}

.side-banners {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 337px;
    font-family: 'montserrat';
}

.small-banner {

    background: #FFFFFF50;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 20px;
    height: 50%;
    border-radius: 40px;

    position: relative;
}

.small-banner:hover {
    background: #FFFFFF70;
}
.get-in-touch {
    margin-bottom: 16px;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

.banner-content h2 {
    font-size: 1.5rem;
    color: #2B2E37;
    margin: 0;
    font-weight: 500;
    text-align: left;
}

.banner-content p {
    font-size: 0.7rem;
    color: #181717;
    margin-top: 5px;
}

.icon-container {
    background-color: #ffffff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.arrow-icon {
    width: 30px;
    height: 30px;
}



