/* עד 2500px */
@media (max-width: 2500px) {
    /* רוחב מקסימלי: 2500px */
    /* רוחב ה-banner-container: נניח 2400px */
    /* אחוז רוחב ה-banner-container: (2400 / 2500) * 100% = 96% */

    .banner-container {
        width: 98%;
      
        height: 567px;
    }

    .banner {
        /* נניח רוחב של 2000px */
        /* אחוז רוחב ה-banner: (2000 / 2500) * 100% = 80% */
        width: 83%;
        /* 2000px מתוך 2500px */
    }

    .side-banners {
        /* נניח רוחב של 500px */
        /* אחוז רוחב ה-side-banners: (500 / 2500) * 100% = 20% */
        width: 15%;
        /* 500px מתוך 2500px */
    }

    .small-banner {
        height: 275px;
    }
}

/* עד 1920px */
@media (max-width: 1920px) {
    /* רוחב מקסימלי: 1920px */
    /* רוחב ה-banner-container: 1888px */
    /* אחוז רוחב ה-banner-container: (1888 / 1920) * 100% ≈ 98.333% */

    .banner-container {
        width: 98.333%;
        /* 1888px מתוך 1920px */
        height: 567px;
    }

    /* רוחב ה-banner: 1495px */
    /* אחוז רוחב ה-banner: (1495 / 1920) * 100% ≈ 77.864% */

    .banner {
        width: 77.864%;
        /* 1495px מתוך 1920px */
        height: 567px;
    }

    /* רוחב ה-side-banners: 377px */
    /* אחוז רוחב ה-side-banners: (377 / 1920) * 100% ≈ 19.635% */

    .side-banners {
        width: 22.136%;
        /* 377px מתוך 1920px */
    }

    .small-banner {
        height: 275px;
    }

    .center-text h2 {
        font-size: 44px;
        font-weight: 600;
        margin-top: -20px;
    }

    .side-banners h2 {
        font-size: 28px;
        font-weight: 500;
    }

    .top-left-text h3 {
        font-size: 12px;
        font-weight: 400;
    }

    .icon-container {
        border-radius: 50%;
        width: 52px;
        height: 52px;
        right: 20px;
        bottom: 20px;
    }

    .arrow-icon {
        width: 40px;
        height: 40px;
    }
}

/* עד 1400px */
@media (max-width: 1400px) {
    /* רוחב מקסימלי: 1400px */
    /* רוחב ה-banner-container: 1368px */
    /* אחוז רוחב ה-banner-container: (1368 / 1400) * 100% ≈ 97.714% */

.banner-container {
        max-width: 1400px;
      
        
    }

    /* רוחב ה-banner: 975px */
    /* אחוז רוחב ה-banner: (975 / 1400) * 100% ≈ 69.643% */

    .banner {
    width: 72%;        /* 975px מתוך 1400px */
        height: 567px;
        padding: 32px;
    }

    /* רוחב ה-side-banners: 377px */
    /* אחוז רוחב ה-side-banners: (377 / 1400) * 100% ≈ 26.929% */

    .side-banners {
    width: 28%;        
    }

    .small-banner {
        height: 275px;
    }

    .center-text h2 {
        font-size: 44px;
        font-weight: 600;
        margin-top: -20px;
    }

    .side-banners h2 {
        font-size: 28px;
        font-weight: 500;
    }

    .top-left-text h3 {
        font-size: 12px;
        font-weight: 400;
    }

    .icon-container {
        border-radius: 50%;
        width: 52px;
        height: 52px;
        right: 20px;
        bottom: 20px;
    }

    .arrow-icon {
        width: 40px;
        height: 40px;
    }
}

/* עד 1000px */
@media (max-width: 1000px) {
    /* רוחב מקסימלי: 1000px */
    /* רוחב ה-banner-container: 968px */
    /* אחוז רוחב ה-banner-container: (968 / 1000) * 100% = 96.8% */

    .banner-container {
        width: 96.8%;
        /* 968px מתוך 1000px */
        height: 567px;
    }

    /* רוחב ה-banner: 657px */
    /* אחוז רוחב ה-banner: (657 / 1000) * 100% = 65.7% */

    .banner {
        width: 65.7%;
        /* 657px מתוך 1000px */
        height: 567px;
    }

    /* רוחב ה-side-banners: 295px */
    /* אחוז רוחב ה-side-banners: (295 / 1000) * 100% = 29.5% */

    .side-banners {
        width: 29.5%;
        /* 295px מתוך 1000px */
    }

    .small-banner {
        height: 275px;
    }

    .center-text h2 {
        font-size: 40px;
        font-weight: 600;
        margin-top: -20px;
    }

    .side-banners h2 {
        font-size: 24px;
        font-weight: 500;
    }

    .top-left-text h3 {
        font-size: 12px;
        font-weight: 400;
    }

    .icon-container {
        border-radius: 50%;
        width: 48px;
        height: 48px;
        right: 20px;
        bottom: 20px;
    }

    .arrow-icon {
        width: 40px;
        height: 40px;
    }
}

/* עד 680px */
@media (max-width: 680px) {
    /* רוחב מקסימלי: 680px */
    /* רוחב ה-banner-container: 657px */
    /* אחוז רוחב ה-banner-container: (657 / 680) * 100% ≈ 96.618% */

    .banner-container {
        width: 96.618%;
        /* 657px מתוך 680px */
        height: 570px;
        flex-direction: column;
        align-items: center;
    }

    .banner {
        width: 100%;
        height: 378px;
        margin-top: -5px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .center-text h2 {
        font-size: 23px;
        font-weight: 600;
        margin-top: -20px;
    }

    .bottom-left-content {
        position: absolute;
        bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .top-left-text h3 {
        font-size: 12px;
        font-weight: 400;
        margin-top: 5px;
    }

    .asterisk-icon {
        width: 25px;
        height: 25px;
        margin-right: 10px;
        background-color: #C8BEA0;
        border-radius: 50%;
        padding: 8px;
        margin-bottom: 10px;
    }

    .bottom-left-content p {
        font-size: 12px;
        margin: 0;
        line-height: 1.5;
    }

    .side-banners {
        width: 100%;
        height: 180px;
    }

    .small-banner {
        height: 84px;
        border-radius: 28px;
    }

    .side-banners h2 {
        font-size: 20px;
        font-weight: 500;
    }

    .banner-content p {
        font-size: 12px;
        font-weight: 400;
        color: #181717;
    }

    .icon-container {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        right: 15px;
        bottom: 15px;
    }

    .arrow-icon {
        width: 35px;
        height: 35px;
    }
}

/* מובייל - עד 470px */
@media (max-width: 470px) {
    /* רוחב מקסימלי: 470px */
    /* רוחב ה-banner-container: 440px */
    /* אחוז רוחב ה-banner-container: (440 / 470) * 100% ≈ 93.617% */

    .banner-container {
        width: 93.617%;
        /* 440px מתוך 470px */
        height: 570px;
        flex-direction: column;
        align-items: center;
    }

    .banner {
        width: 100%;
        height: 378px;
        margin-top: -5px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .center-text h2 {
        font-size: 23px;
        font-weight: 600;
        margin-top: -20px;
    }

    .bottom-left-content {
        position: absolute;
        bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .top-left-text h3 {
        font-size: 12px;
        font-weight: 400;
        margin-top: 5px;
    }

    .asterisk-icon {
        width: 25px;
        height: 25px;
        margin-right: 10px;
        background-color: #C8BEA0;
        border-radius: 50%;
        padding: 8px;
        margin-bottom: 10px;
    }

    .bottom-left-content p {
        font-size: 12px;
        margin: 0;
        line-height: 1.5;
    }

    .side-banners {
        width: 100%;
        height: 180px;
    }

    .small-banner {
        height: 84px;
        border-radius: 28px;
    }

    .side-banners h2 {
        font-size: 20px;
        font-weight: 500;
    }

    .banner-content p {
        font-size: 12px;
        font-weight: 400;
        color: #181717;
    }

    .icon-container {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        right: 15px;
        bottom: 15px;
    }

    .arrow-icon {
        width: 35px;
        height: 35px;
    }
}